@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

.nav {
  width: 100%;
  display: flex;
  overflow: hidden;
  position:absolute;
  z-index:-22;
  flex-direction: row-reverse;
  background-color: #fff;
  padding: 0 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  position: fixed;
}

.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-weight: 500;
  position: relative;
  font-family: "Mooli", sans-serif;
  animation: swing ease-out 4s forwards;
}
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(111, 0, 255);
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}

@keyframes swing {
  0% {
    transform: rotate(-3deg);
  }
  10% {
    transform: rotate(2deg);
  }

  20% {
    transform: rotate(-2deg);
  }

  30% {
    transform: rotate(1deg);
  }

  40% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(0.5deg);
  }

  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0.4deg);
  }
  80% {
    transform: rotate(0.3deg);
  }
  90% {
    transform: rotate(0.4deg);
  }
  100% {
    transform: rotate(0.3deg);
  }
}
